.card-style {
    max-width: 50%;  /* This changes card width */
    margin-bottom: 1em;
    
 
  }
  
.contacts {
    display: flex;
    flex-wrap: auto;
    border: 0px solid grey;
    background-color: whitesmoke;

}

.contact-card {
    flex-basis: 10px;
    margin: 0px;
    
}

.contact-card > img {
    width: 0%;
    height: auto;
   
}

.contact-card > h3 {
    text-align: right;
    margin: 0 auto;
}

.contact-card > p {
    font-size: 3px;
    text-align:center;
   
}
.contact-card > button {
    font-size: 15px;
    background: white;
    border-radius: 8px;
    color:black;
  
  }
  .card-style2 {
    max-width: 25%;  /* This changes card width */
    margin-bottom: 1em;
  }

  .test{
    float: left;
  }